@import "fonts.scss";
@import "spacing.scss";

$font-family-title: "Poppins", sans-serif;
$font-family-text: "Source Sans Pro", sans-serif;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$color-primary: #8b73bf;
$white: #fff;

$border-radius: 0.25rem;

* {
  transition: all 0.2s ease-in-out;
}

:root {
  font-size: 16px;
}
body {
  font-family: $font-family-text;
  line-height: 1.2;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: $font-family-title;
  font-weight: $font-weight-bold;
}

.bg {
  &-primary {
    background-color: $color-primary !important;
    color: $white;
  }
}

.text {
  &-primary {
    color: $color-primary;
  }
}

.main-heading {
  font-weight: $font-weight-bold;
  color: $white;
}
.search-form {
  input.form-control {
    width: 50%;
  }
}
.form-label {
  font-weight: $font-weight-thin;
  color: $white;
}
.jumbotron {
  background: linear-gradient(
    157deg,
    rgba(173, 150, 221, 1) 0%,
    rgba(53, 8, 153, 1) 100%
  );
  border-radius: 0;
  max-height: 27rem;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 22% 100%, 0 81%);
  // &-user {
  //   height: 15rem !important;
  // }
}
.btn {
  font-weight: $font-weight-bold;
  &-white {
    background-color: $white;
    color: $color-primary;
    &:hover {
      color: darken($color-primary, 15%);
      background-color: darken($white, 15%);
    }
  }
}
.hero-img {
  width: 100%;
  margin-top: -5rem;
}
ul {
  list-style: none;
  padding: 0;
}

.card {
  position: relative;
  border: none;
  border-radius: $border-radius;
  overflow: hidden;
  // background-color: darken($white, 5%);
  &-img {
    width: 20rem;
  }
  &-title {
    color: $color-primary;
  }
  &-daily {
    margin: 0.25rem;
    padding: 0;
    border-radius: ($border-radius * 2);
    overflow: hidden;
    img {
      height: auto;
      width: 100%;
    }
    &:hover {
      box-shadow: none;
    }
  }
  &:hover {
    transform: scale(1.015);
    box-shadow: 4px 0px 1rem 0 #cfcfcf;
  }
}

.footer {
  padding: 4rem 0;
}
