@import "./fonts.scss";
@import "./spacing.scss";
@import "./breakpoints.scss";

$font-family-title: "Poppins", sans-serif;
$font-family-text: "Source Sans Pro", sans-serif;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$color-primary: #8b73bf;
$white: #fff;

$border-radius: 0.25rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

:root {
  font-size: 16px;
}

html,
body,
.App {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: $font-family-text;
  line-height: 1.2;
  background-color: #e7e7e7;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: $font-family-title;
  font-weight: $font-weight-bold;
  text-align: center;
  @include md {
    text-align: left;
  }
}

.bg {
  &-primary {
    background-color: $color-primary !important;
    color: $white;
  }
}

.text {
  &-primary {
    color: $color-primary !important;
  }
}

.main-heading {
  font-weight: $font-weight-bold;
  color: $white;
  font-size: 2rem;
  text-align: center;
  @include md {
    font-size: 3.5rem;
    text-align: left;
  }
}
.search-form {
  input.form-control {
    @include md {
      width: 50%;
    }
  }
}
.form-label {
  font-weight: $font-weight-thin;
  color: $white;
}
.jumbotron {
  background: linear-gradient(
    157deg,
    rgba(173, 150, 221, 1) 0%,
    rgba(53, 8, 153, 1) 100%
  );
  border-radius: 0;
  height: 23rem;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  @include lg {
    clip-path: polygon(0 0, 100% 0, 100% 78%, 22% 100%, 0 81%);
    height: 27rem;
  }
}
.btn {
  font-weight: $font-weight-bold;
  &-white {
    background-color: $white;
    color: $color-primary;
    &:hover {
      color: darken($color-primary, 15%);
      background-color: darken($white, 15%);
    }
  }
}
.hero-img {
  width: 100%;
  margin-top: -5rem;
}
ul {
  list-style: none;
  padding: 0;
}

.card {
  position: relative;
  border: none;
  border-radius: $border-radius;
  overflow: hidden;
  &-title {
    color: $color-primary;
  }
  &-daily {
    margin: 0 0.175rem 0.25rem;
    padding: 0;
    border-radius: ($border-radius * 2);
    overflow: hidden;
    img {
      height: auto;
      width: 100%;
    }
    &:hover {
      box-shadow: none;
    }
  }
  &:hover {
    transform: scale(1.015);
    box-shadow: 4px 0px 1rem 0 #cfcfcf;
  }
}

.stats {
  li {
    font-size: 1rem;
    font-weight: $font-weight-normal;
    font-family: $font-family-title;
    margin: 0.25rem 0;
    .data {
      font-size: 1.5rem;
      font-family: $font-family-title;
      font-weight: $font-weight-bold;
      color: $color-primary;
    }
  }
}

.loading {
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: $color-primary;
}

.footer {
  padding: 4rem 0;
  a {
    color: $white;
  }
}
